@import "../../index.scss";

.basic-layout {
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    max-width: 100%;


    &__navigation {
        height: 60px;

    }

    &__body {
        .basic-layout__menu {
            max-width: 300px;
            padding-right: 0 !important;
        }

        .basic-layout__content {
            overflow-y: scroll;
            height: 90vh;
            padding: 10px 20px 10px 20px;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}