@import "../../index.scss";

.modal-dialog {
    max-width: 600px;
}

.update-exam-form {
    .btn-cont{
        margin-top: 30px;
        display: flex;
        justify-content: center;

        .btn-create {
            
            margin-top: 30px;
            background-color: $primary-dark;
            width: 300px;
        }
    }
    
    
}