$primary: #0B93E1;
$primary-light: #58BDF7;
$primary-dark: #1A70A9;
$primary-grey: #EFEFEF;

$background-light: #FFFFFF;
$background-grey: #dfdfdf;
$background-dark: #2b2b2b;

$font-dark: #000000;
$font-grey: #3b3b3b;

$danger: #FD3636;