@import "../../index.scss";

.list-questions {
  padding: 0px;
  max-width: 90%;
  align-self: start;
  text-align: center;

  .table {
    padding: 0px;
    text-align: start;

    li {
      height: 65px;
      padding: 5px 10px 5px 10px;

      textarea {
        align-self: center;
        margin: 0 auto;
      }

      h4 {
        font-size: 24px;
        color: $font-grey;
        line-height: 50px;
      }
      h5 {
        color: $font-grey;
        line-height: 40px;
      }

      .button-row {
        text-align: right;

        Button {
          max-width: 80px;
          margin-left: 10px;
        }
      }
    }
  }
}
