@import "../../index.scss";

.grupo-cont {
  align-items: center;
  h4 {
    color: $primary-light;
    text-align: start;
    margin-left: 15px;
  }
}

h5 {
  color: $font-grey;
  margin-top: 3px;
}

.progress {
  height: auto;
  background-color: $background-light;
  .progress-num {
    margin-left: 10px;
    align-items: center;
    .icon {
      width: 12px;
      height: 12px;
    }
    &:hover {
      color: $primary-light;
    }
  }
}

.teacher-row {
  display: inline-flex;
  overflow: hidden;
  .teacher-select {
    width: 300px;
    height: 30px;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  Button {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.progress-table {
  margin: 0 auto;
  font-size: 20px;
  align-items: center;
  position: relative;
  justify-content: center;

  .progress-head {
    font-size: 25px;
  }
  .progress-row {
    margin: auto;
    text-align: 20px;
    .progress-icon {
      text-align: center;
    }
  }
}
