@import "../../index.scss";

.examenes-cont {
  .examenes {
    padding: 0px;

    &__body {
      .title {
        display: flex;

        .go-back {
          color: $primary-light;
          font-size: 25px;
          margin-right: 5px;
        }
        h4 {
          color: $font-grey;
          font-size: 30px;
        }
      }

      Button {
        width: 200px;
        margin-bottom: 30px;
      }
    }
  }
}
