@import "../../index.scss";

.user-delete {
  text-align: center;
  align-content: center;

  .row-info {
    color: #dc3545;
  }
  .row {
    justify-content: center;
    font-weight: bold;
  }
  Button {
    margin-top: 20px;
    margin-left: 10px;
  }
}

Table {
  max-width: 90%;
  tbody {
    tr {
      td {
        .button-col {
          Button {
            margin-left: 10px;
          }
        }
        .open {
          font-weight: bold;
          color: green;
        }
      }
    }
  }
}
